* {
	margin: 0px;
	padding: 0px;
}

#top_line,
#bottom_line {
	width: 100%;
	height: 40px;
	background-color: #0066b3;
}

.shell {
	width: 1024px;
	margin: 0px auto;
	font-family: Arial;
}

.icon {
	width: 100px;
	height: 100px;
	display: inline-block;
	background: url(../images/FNS.png);
	background-size: cover;
}

.shell > h1 {
	font-family: Dincond;
	font-size: 33px;
	text-transform: uppercase;
	display: inline-block;
	font-style: italic;
	vertical-align: top;
	margin: 10px 0px 10px 0px;
}

.shell > h2 {
	margin: 10px 0px 10px 0px;
	font-size: 33px;
	color: #0066b3;
}

.left_block {
	width: 640px;
	display: inline-block;
}

.left_block h3 {
	margin: 15px 0px 15px 0px;
	font-size: 23px;
}

.left_block span {
	font-size: 20px;
	display: inline-block;
	width: 220px;
	line-height: 34px;
}

.left_block input {
	width: 400px;
	font-size: 20px;
}

.left_block input[type="submit"],
.left_block input[type="reset"] {
	width: 250px;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	background-color: #0066b3;
	color: white;
	margin-left: 45px;
	margin-top: 45px;
}

.right_block {
	width: 320px;
	display: inline-block;
	vertical-align: top;
	background-color: #e5f0fc;
	margin: 25px;
}

.right_block > p, h3 {
	margin: 20px;
}

#bottom_line {
	position: fixed; /* Фиксированное положение */
    left: 0%; bottom: 0%; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
}